body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.flight-engine {
  position: absolute;
  left: 0px;
  right: 50px;
  bottom: 600px;
  padding: 20px;
}
.tabing {
  float: left;
  width: 50%;
  background: rgba(0, 130, 185, .8);
  padding: 0 10px 10px 10px;
  color: #fff;
}
.flight-tab {
  width: 100%;
  float: left;
  margin-top: 10px;
  padding: 15px
}
.flight-tab .textboxstyle {
  width: 100%;
  float: left;
  color: #191919;
  padding: 8px 10px 8px 35px;
  border: none;
  border-radius: 3px;
  background: #f5f5f5;
  font-size: 14px;
  line-height: 20px;
}
.persent-one {
  width: 19%;
  float: left;
  margin-right: 1%;
  position: relative;
  margin-bottom: 10px;
}
.persent-one i {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #191919;
  font-size: 18px;
}
.persent-one.less-per {
  width: 16%;
  float: left;
  margin-right: 1%;
}
.persent-one.less-btn {
  width: 5%;
  float: left;
  margin-right: 1%;
}
.persent-one.less-btn .cst-btn {
  width: 85px;
  height: 85px;
  border-radius: 100%;
  position: absolute;
  top: -32px;
}