body {
  font-family: Arial;
  background: url("../images/aircraft2.jpg");
  background-size: cover;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.image {
  /*position: relative;*/
  font-family: Arial;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.flight-engine {
  /*position: absolute;*/
  /*bottom: 85%;
  left:25%;*/
}
.tabing {
  margin-top: 15px;
  float: left;
  margin-left: 19%;
  width: 60%;
  background: rgba(0, 130, 185, .8);
  padding: 0 10px 10px 10px;
  color: #fff;
}
.flight-tab {
  width: 100%;
  float: left;
  margin-top: 10px;
  padding: 15px
}
.flight-tab .textboxstyle {
  width: 100%;
  float: left;
  color: #191919;
  padding: 8px 10px 8px 35px;
  border: none;
  border-radius: 3px;
  background: #f5f5f5;
  font-size: 14px;
  line-height: 20px;
}
.persent-one {
  width: 30%;
  float: left;
  margin-right: 1%;
  position: relative;
  margin-bottom: 10px;
}
.persent-one i {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #191919;
  font-size: 18px;
}
.persent-one.less-per {
  width: 16%;
  float: left;
  margin-right: 1%;
}
.persent-one.less-btn {
  width: 5%;
  float: left;
  margin-right: 1%;
}
.persent-one.less-btn .cst-btn {
  width: 85px;
  height: 85px;
  border-radius: 100%;
  position: absolute;
  top: -32px;
}

#flights-div table{
  float: left;
  /*position: absolute;*/
  /*bottom: 75%;*/
  margin-left:17%;
  margin-top: 15px;
}

table, th, td {
  background-color: rgba(33, 157, 211, 0.4) ;
  color: 0;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

table a{
  background-color: #1e5de6; 
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

